#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-size: 75px;
  padding-top: 20px;
}

.posterGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  padding: 20px;
}

.posterGrid button {
  transition: transform 0.2s ease;
  background: transparent;
}

.posterGrid button:focus {
  outline: none;
  box-shadow: none;
}

.posterGrid button:hover {
  transform: scale(1.15);
}

.posterGrid img {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.5em lightblue);
}

.posterGrid caption {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 25px;
}