.EpisodeList {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    overflow-y: auto;
}

.EpisodeList button {
    width: 100%;
    border-radius: 0;
    padding: 15px;
    text-align: left;
}

.EpisodeList button:hover {
    background-color: gray;
}

#HomeButton {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 25px;
}

#SeasonEpisodeCombo {
    margin-top: 15px;
}

#EpisodeName {
    margin: 0 0 0 0;
}

.EpisodeDetails {
    margin-left: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

.EpisodeInformation img{
    border-radius: 15px;
    width: 40%;
    height: auto;
}

.EpisodeInformation {
    display: flex;
    font-size: 15px;
    gap: 20px;
    align-items: center;
}

.EpisodeOverview {
    background-color: #242424;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75em black)
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.GuestStars {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.GuestStars img {
    border-radius: 50px;
}